.Back{
    height: 60px;
    width: 150px;
    background: #f14406;
    position: absolute;
    top: 55%;
    border: none;
    border-radius:0 5px 5px 0;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    z-index: 1;
    cursor: pointer;
    outline: none;
}

.Back::before{
    height: 30px;
    width: 60px;
    background: #f14406;
    position: absolute;
    top: 0;
    right: -20%;
    transform: skewX(-25deg);
    content: '';
    display: block;
    z-index: -1;
    
}

.Back::after{
    height: 30px;
    width: 60px;
    background: #f14406;
    position: absolute;
    bottom: 0;
    right: -20%;
    transform: skewX(25deg);
    content: '';
    display: block;
    z-index: -1;

}

.show{
    opacity: 0;
    visibility: hidden;
}