.MealItemContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -14.9em;
    padding-top: 4em;
    font-family: sans-serif;
    background: #dedede;
}
.MealItemImg {
    width: 35%;
    display: flex;
    justify-content: center;
}
.MealItemImg img{
    max-width: 100%;
}
.MealItemTitle {
    padding-bottom: .8em;
}
.MealItemText {
    color: #2f3030;
    padding: 0 .5em;
    width: 60%;
    line-height: 1.6;
    font-size: 1.5rem;
    padding-bottom:4em;
}
.MealItemIngList {
    width: 60%;
    list-style: none;
    font-size: 1.5rem;

}
.MealItemIngList li{
    background: #e6e4e4;
    padding:  1em 4em;
    margin-bottom: 1.6em;
    border-radius: 5px;
    font-size: 1.8rem;
    position: relative;
    box-shadow: 0px 5px 20px #666;


}

.MealItemIngList li:last-child{
    margin-bottom: 0;
}

.MealItemIngList span{
    border-radius: 50%;
    color: #ff7300;
    background: #232f38ea;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.5em;
    left: -.5em;
    top: -.6em;
    width: 84px;
    height: 84px;
}

.MealItemContainer h1{
    color: #ff7300;
    text-transform: capitalize;
    text-align: center;
    padding: 1.2em 0;
    width: 40%;
    min-width: 200px;
}

.RibbonText {
    color: #ff7300;
    text-transform: capitalize;
    padding: 1.2em;
    background: #232f38;
    position: relative;
    margin: 1.4em 0;
    z-index: 10;
  
}


.RibbonText::before{
    height: 100%;
    width: 60px;
    background: #232f38;
    position: absolute;
    top: 0;
    right: -10%;

    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0 0);

    content: '';
    display: block;
    z-index: -1;
    
}

.RibbonText::after{
    height: 100%;
    width: 60px;
    background: #232f38;
    position: absolute;
    bottom: 0;
    left: -10%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 30% 50%, 0 0);
    content: '';
    display: block;
    z-index: -1;

}


@media (max-width:660px){
    .MealItemContainer h1{
        font-size: 1.4rem;
    }
    .MealItemContainer h2{
        font-size: 1.2rem;
    }
    .MealItemImg {
        width: 60%;
    }
    .MealItemText {
        color: #2f3030;
        padding: 0 .5em;
        width: 100%;
        padding-bottom:2em;
    }
    .MealItemIngList li{
        padding:  1rem;
        margin-top: 3.5em;
        font-size: 1.2rem;
        text-align: center;
    
    }
    .MealItemIngList span{

        font-size: 1.7rem;
        width: 64px;
        height: 64px;
        left: 50%;
        top: -1.8em;
        transform: translateX(-50%) ;
    }
}



/* font-size: 1.6rem;
width: 60%;
text-align: center;
padding: 1.1em */